body {
	margin: 0;
	background: url(/../img/heart\ 2.png) center no-repeat;
	width: 100%;
	height: 100%;
}

.container {
	background-color: white;
	min-height: 70vh;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 30px;
	padding: 40px;
	max-width: 90%;
	margin: 50px auto;
}
.input-area {
	position: relative;
	/* display: flex; */
}
input {
	margin-bottom: 15px;
	padding: 10px;
	/* line-height: 40px; */
	transition: padding-top 0.2s ease, margin-top 0.2s ease;
	width: 85%;
	border: none;
	border-radius: 50px;
	outline: none;
	border: 2px solid rgb(205, 218, 255);
}
.input-area > #task-input:focus {
	border-bottom: 2px solid rgb(205, 218, 255);
	border-left: none;
	border-right: none;
	border-top: none;
	transition: 0.5s;
	padding-top: 35px;
	border-radius: 0;
}
#task-input + label > span {
	font-weight: 300;
	margin: 0;
	position: absolute;
	color: #8f8f8f;
	font-size: 16px;
	top: 13px;
	left: 20px;
	-webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
	transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.task-input:focus + label > span {
	top: 0px;
	color: #333;
}

.task-area {
	border-bottom: 1px solid #eee;
	outline: none;
}
.task-tabs {
	display: flex;
	background-color: #f1f4f8;
	position: relative;
}

.task-tabs div {
	padding: 5px 20px;
	cursor: pointer;
}
#underline {
	height: 4px;
	background-color: rgb(205, 218, 255);
	position: absolute;
	width: 50px;
	transition: 0.5s;
	padding: 0;
	left: 0;
	top: 30px;
}

button {
	border-radius: 50px;
	width: 30px;
	height: 30px;
	transition: 0.5s;
	font-size: 20px;
}
button:hover {
	background-color: #f1f4f89c;
}

.task {
	display: flex;
	justify-content: space-between;
	padding: 0.5em 1em;
	overflow: hidden;
}
.task > div {
	max-width: 70%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
}
.task-done {
	background-color: #f1f4f89c;
}
.task-done div:first-child {
	text-decoration: line-through;
	text-decoration-color: #8f8f8f;
	text-decoration-thickness: 2px;
	transition: 0.5s;
	transition-delay: 0.5s;
}
.checkBtn {
	width: 30px;
	transition: 0.5s;
	background: url(../img/check.png) no-repeat center/ 80%;
	height: 30px;
}

.task-done .checkBtn {
	transition: 0.5s;
	background: url(../img/before.png) no-repeat center/ 80%;
}
.deleteBtn {
	transition: 0.5s;
	background: url(../img/delete.png) no-repeat center/80%;
}

button,
select,
textarea {
	color: inherit;
	vertical-align: middle;
	border: none;
	-webkit-appearance: none;
	/* font-size: 14px; */
	/* 11/15 글씨체 통일 */
	font-family: "Noto Sans KR", sans-serif;
}
